#add-teacher.add-teacher {
  margin: 0 auto;
  width: 100%;
}

#add-teacher .return {
  color: var(--orange);
  font-weight: 700;
  text-align: center;
  width: 100%;
  display: block;
  margin-bottom: 16px;
}

#add-teacher .add-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}

#add-teacher .form-container {
  width: 100%;
  background-color: #103d2a;
  color: #fff;
  padding: 10px;
}

#add-teacher .form-wrapper {
  width: 50%;
  margin: 20px auto;
  display: flex;
  flex-direction: column;

  align-items: center;
  gap: 10px;
}

#add-teacher .form-wrapper>div {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

#add-teacher .form-wrapper .edukasi {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

#add-teacher .input-addteacher {
  font-size: 10px;
  padding: 5px;
}

#add-teacher .edukasi {
  display: flex;
}

#add-teacher .edukasi input {
  width: 100px;
}

#add-teacher .btn-add-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-weight: 600;
}