.admin-title {
    text-align: center;
    color: var(--hijau-tua);
    margin-bottom: 8px;
}

.admin-menu {
    display: flex;
    justify-content: center;
    gap: 32px;
    margin-bottom: 32px;
}

.admin-menu button {
    font-weight: 700;
    color: var(--orange);
    border: 4px solid var(--orange);
    background-color: var(--cream);
    padding: 8px 16px;
    border-radius: 4px;
}

.admin-menu .active {
    background-color: var(--orange);
    color: white;
}

.pesanan.admin {
    padding: 24px;
    padding-bottom: 0px;
}

.admin .header-pesanan {
    margin-bottom: 8px;
}

.pesanan-approval {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.pesanan-approval-btn {
    background-color: white;
    padding: 4px 8px;
    border-radius: 8px;
    cursor: pointer;
    border: 2px solid var(--orange)
}

.pesanan-approval-btn.acc {
    background-color: var(--orange);
    color: white;
    font-weight: 700;
}

.pesanan-approval-btn.rej {
    font-weight: 700;
    color: var(--orange);
}

.admin-toggle-detail {
    cursor: pointer;
    border-top: 1px solid lightgray;
    margin-top: 24px;
    padding: 8px 0;
    display: flex;
    justify-content: center;
}

.approval {
    font-weight: 700;
}

.approval.waiting {
    color: #F2CA64;
}

.approval.rejected {
    color: #DC303d;
}

.approval.accepted {
    color: #38C173;
}

.pesanan-status {
    margin-bottom: 16px;
}